<mat-toolbar color="primary">
  <span >
    <a mat-button routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>

  <a mat-button routerLink="/create" routerLinkActive="mat-accent" *ngIf="userIsAuthenticated">
    New Post
  </a>

  <a mat-button routerLink="/login" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">
    Login
  </a>
  <a mat-button routerLink="/signup" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">
    Signup
  </a>
  <button mat-button (click)="onLogout()" *ngIf="userIsAuthenticated">
    Logout
  </button>
</mat-toolbar>
