<ng-container *ngIf="(postsObservable$ | async) as postsObservable">

  @if (postsObservable.posts.length >0) {
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let post of postsObservable.posts">
        <mat-expansion-panel-header>
          {{ post.title }}
        </mat-expansion-panel-header>
      <div class="post-image">
        @if (post.imagePath) {
      <img [src]="post.imagePath" [alt]="post.title">
        }
    </div>
        <p>{{ post.content }}</p>
        <mat-action-row>

          <button mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</button>
          <button mat-button color="warn" class="button-spacing" (click)="onDelete(post.id!)">DELETE</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator [length]="postsObservable.postCount"
    [pageSize]="postsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
  *ngIf="postsObservable.posts.length > 0"></mat-paginator>
  }

  @else {
    <p class="info-text mat-body-1">No posts added yet!</p>
  }
</ng-container>
